html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    color: white;
    font-family: monospace;
    font-size: 40px;
    background: black;
    overflow: hidden;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}
